<?xml version="1.0"?>
<config>
    <modules>
        <Componentk_PaymentFee>
            <version>0.1.0</version>
        </Componentk_PaymentFee>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <payment_fee>
                    <file>ck/paymentfee/totals.xml</file>
                </payment_fee>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <helpers>
            <paymentfee>
                <class>Componentk_PaymentFee_Helper</class>
            </paymentfee>
        </helpers>
        <models>
            <paymentfee>
                <class>Componentk_PaymentFee_Model</class>
                <resourceModel>paymentfee_mysql4</resourceModel>
            </paymentfee>
        </models>
        <blocks>
            <paymentfee>
                <class>Componentk_PaymentFee_Block</class>
            </paymentfee>
        </blocks>
        <resources>
            <componentk_paymentfee_setup>
                <setup>
                    <module>Componentk_PaymentFee</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </componentk_paymentfee_setup>
            <componentk_paymentfee_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </componentk_paymentfee_write>
            <componentk_paymentfee_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </componentk_paymentfee_read>
        </resources>
        <events>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <checkout_type_onepage_save_order_after_fee_handler>
                        <type>model</type>
                        <class>paymentfee/newordertotalobserver</class>
                        <method>saveFeeTotal</method>
                        <args />
                    </checkout_type_onepage_save_order_after_fee_handler>
                </observers>
            </checkout_type_onepage_save_order_after>
            <checkout_type_multishipping_create_orders_single>
                <observers>
                    <checkout_type_multishipping_create_orders_single_fee_handler>
                        <type>model</type>
                        <class>paymentfee/newordertotalobserver</class>
                        <method>saveFeeTotalForMultishipping</method>
                        <args />
                    </checkout_type_multishipping_create_orders_single_fee_handler>
                </observers>
            </checkout_type_multishipping_create_orders_single>
        </events>
        <sales>
            <quote>
                <totals>
                    <fee_total>
                        <class>paymentfee/quote_address_total_fee</class>
                        <after>subtotal,freeshipping,tax_subtotal,shipping</after>
                        <before>grand_total</before>
                    </fee_total>
                </totals>
            </quote>
            <!-- @todo: not implemented per assignment -->
            <order_invoice>
                <totals>
                    <fee_total>
                        <class>paymentfee/order_invoice_total_fee</class>
                        <after>subtotal,freeshipping,tax_subtotal,shipping</after>
                        <before>grand_total</before>
                    </fee_total>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <fee_total>
                        <class>paymentfee/order_creditmemo_total_fee</class>
                        <after>subtotal,freeshipping,tax_subtotal,shipping</after>
                        <before>grand_total</before>
                    </fee_total>
                </totals>
            </order_creditmemo>
        </sales>
    </global>
</config> 